@font-face {
    font-family: 'Futura LtCn BT';
    src:url('../fonts/FuturaBT-LightCondensed.woff2') format('woff2');
    font-weight:         300;
    font-style: normal;
    font-display: swap;
}
:root {
    --height-header: 4rem;
    --primary-color: #fff;
    --secondary-color: #212528;
    --alternative-color: #F7901E;
    --transparent-color: #00000075;
}
::-webkit-scrollbar {
    background-color: transparent;
}
::-webkit-scrollbar-corner {
    display: none;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #00000075;
  }
::-webkit-scrollbar-button:vertical:decrement {
    height: var(--height-header);
    background-color: var(--secondary-color);
}
::-webkit-scrollbar-thumb:active {
     border: 1px solid #F7901E;
  }


.main-container {
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
body {
    background-color: var(--primary-color);
    color: #fff;
}
    header {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: var(--height-header);
        background-color: var(--secondary-color);   
        z-index: 10;
    }   
        .logo {
            display: flex;
            align-items: center;
            padding-left: 2rem;
            box-sizing: border-box;
            vertical-align: middle;
        }
            .logo img{
                vertical-align: middle;
                height: 90%;
                object-fit: scale-down;
                box-sizing: border-box;
            }
        menu {
            display: flex;
            align-items: center;
            padding-right: 1rem;
        }   
            .menu-icon::before {
                position: absolute;
                display: none;
                font-size: 1.3rem;
            }
            menu ul {
                padding: 0;
                cursor: pointer;
            }
            menu ul li {
                font-family: Futura LtCn BT;
                font-size: 1.3rem;
                list-style: none;
                display: inline;
                padding: 0 .5rem;
            }
            menu ul li a{
                font-family: Futura LtCn BT;
                font-size: 1em;
                letter-spacing: 1px;
                color: #fff;
            }
            menu ul li a strong {
                font-family: Futura LtCn BT;
                font-size: 1em;
                letter-spacing: 1px;
                color: #F7901E;
            }
            @media screen and (max-width: 872px){
                menu ul{
                    position: fixed;
                    top: var(--height-header);
                    right: 0;
                    background-color: #00000080;
                    transform: translateX(15rem);

                }
                menu ul li{
                    text-align: end;
                    display: block;
                    padding: 1rem;
                }
                menu ul li a{
                    color: var(--alternative-color);
                }
                .menu-icon::before {
                    cursor: pointer;
                    position: static;
                    display: inline;
                    color: var(--alternative-color);
                }
                i.menu-icon:active {
                    transform: scale(.9);
                }
                i.menu-icon:active::before{
                    color: #fff;
                }
           }

    .main-container {
        overflow-x: hidden;
    }
        .container-fixed {
            background-color: var(--transparent-color);
            margin-top: 10rem;
            padding: 1rem;
            display: flex;
        }
        .test{
            color: black;
        }
            .container-move {
                display: flex;
                transition: all 0s;
                flex-shrink: 0;
            }    
                .box-grow:active {
                    transform: scale(1.5);
                }
                .container-box {
                    flex-shrink: 0;
                    display: grid;
                    margin: 0 10px;
                    grid-template-columns: 300px;
                    grid-template-rows: 300px;
                    border: 1px solid transparent;
                    color: #fff;
                    background-color:transparent;
                    border-radius: 50px;
                    overflow: hidden;
                    transition: all 0s ease-out;
                }
                    .item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        line-height: 0px;
                    }
                    .item-title {
                        display: none;
                        flex-basis: 20%;
                        flex-shrink: 0;
                        overflow: hidden;
                        background-color: transparent;

                    }
                    .item-img {
                        background-color: var(--transparent-color);
                        width: 100%;
                        height: 100%;
                    }           
                        .item-img img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            text-rendering: optimizeLegibility;
                        }


